In [1]:
name= "akash"
print( name )

akash

In [3]:
poem = ''' johnny johnny yes papa  
eating sugar no papa  telling a lie no papa '''
print( poem )

 johnny johnny yes papa
eating sugar no papa  telling a lie no papa

In [4]:
fruits = [ "apple", "banana", "guava", "orange"]
print( fruits )

['apple', 'banana', 'guava', 'orange']

In [5]:
apps = ("google", 'maps','swiggy','zomato')
print(apps)

('google', 'maps', 'swiggy', 'zomato')

In [7]:
car_info ={
    "brand": "ford",
    "model": "mustang",
    "year" : 1964
}
print(car_info)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [16]:
student = {
    ' name ': "john",
     'age'   : 45,
    'class'  : '7th'
    }
print ( student )

{' name ': 'john', 'age': 45, 'class': '7th'}

In [17]:
name ='john'
type(name)

str

type casting

#1st method
num = input (" enter a number"

#1st method
num = input (" enter a number")

In [18]:
#1st method
nC

5

int

In [20]:
#2nd method 
num = int( input (" enter a number"))
print(num)
type(num)

7

int

In [24]:
a= 7 
b=8 
print("sum of " ,a, "and", b, "is", a+b)
print(f' sum of {a} and {b} is {a+b}')

sum of  7 and 8 is 15
 sum of 7 and 8 is 15