In [3]:
fruits = [' apple',' mango', 'watermelon' ,]
for x in fruits:
   print(x)

 apple
 mango
watermelon

In [1]:
fruits = [' apple',' mango', 'watermelon' ,]
for x in fruits:
   print(x, end = " ")

 apple  mango watermelon

In [2]:
text = "I love python"
for word in text:
    print(word, end= "")

I love python

In [4]:
for num in range(1,10):
    print(num)

1
2
3
4
5
6
7
8
9

In [15]:
name = "akash"
for x in range(1, 10):
    print(name)

akash
akash
akash
akash
akash
akash
akash
akash
akash

In [23]:
for x in range(1,11):
    print("akash")

akash
akash
akash
akash
akash
akash
akash
akash
akash
akash

In [32]:
for num in range(1,31):
    if num % 2 == 0:
     print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [28]:
for i in range (0,31,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [44]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
for x in num:
   if x % 2 == 0:
      print(x)

2
4
6
8
10
12
14
16
18
20

In [45]:
num = 1 
while num <= 20 :
    print (num)
    num += 2

1
3
5
7
9
11
13
15
17
19

In [3]:

num = 1
while num <=10:
    print("akash")
    num+=1

akash
akash
akash
akash
akash
akash
akash
akash
akash
akash

In [5]:
num = 1 
while num<=20:
    if num%2 == 0:
        print(num)
    num+=1

2
4
6
8
10
12
14
16
18
20

In [8]:
fruits = ["apple" , "kiwi" , "cherry" , "ladyfinger", "banana" , "orange" , "mango"]
for fruit in fruits:
    if fruit == "ladyfinger":
        break
    print(fruit)

apple
kiwi
cherry

In [9]:
fruits = ["apple" , "kiwi" , "cherry" , "ladyfinger", "banana" , "orange" , "mango"]
for fruit in fruits:
    if fruit == "ladyfinger":
        continue
    print(fruit)

apple
kiwi
cherry
banana
orange
mango