In [1]:
name = "akash puri"
print(name)

akash puri

In [2]:
print(name[7])

u

In [3]:
print(name[0:5])

akash

In [4]:
#string concatennation
print(name + " is a student")

akash puri is a student

In [5]:
#string duplication
x = "hey"
print(x*5)

heyheyheyheyhey

In [6]:
# to convert the string in uppercase 
x = "beautiful"
x.upper()

'BEAUTIFUL'

In [7]:
#to convert the string in lower case
x = "BEAUTIFUL"
x.lower()

'beautiful'

In [8]:
#to convert fist character of the string in uppercase
x ="beautiful"
x.capitalize()

'Beautiful'

In [9]:
#split method
a = 'you are fool'
a.split()

['you', 'are', 'fool']

In [10]:
poem = ''' Johnny johnny yes papa 
eating sugar no papa 
telling lies no papa 
open your mouth hahahaha'''
print(poem)

 Johnny johnny yes papa
eating sugar no papa
telling lies no papa
open your mouth hahahaha

In [11]:
# split the poem into lines
poem.splitlines()

[' Johnny johnny yes papa ',
 'eating sugar no papa ',
 'telling lies no papa ',
 'open your mouth hahahaha']

In [12]:
p = poem.replace('yes','no').replace('eating','drinking').replace('lies','truth').replace('open','close')
print(p)

 Johnny johnny no papa
drinking sugar no papa
telling truth no papa
close your mouth hahahaha

In [13]:
p.find('no')

15

In [14]:
url = ['www','google','com']
'/'.join(url)

'www/google/com'

In [15]:
dic ={'name': 'akash',
      'class': 'python',
      'age' : 22 ,
      }
print(dic)

{'name': 'akash', 'class': 'python', 'age': 22}

- how to declare dictionary
- how to access key and value pairs
- how to use loops in dictionary 
- indexing in dictionary

In [16]:
temp = {
    'lucknow' : {25,30,35},
    'delhi' : {20,25,30},
     'mumbai' : {30,35,40},
}
print(temp)

{'lucknow': {25, 35, 30}, 'delhi': {25, 20, 30}, 'mumbai': {40, 35, 30}}

In [17]:
info = dict(name = "john", age = 19 , classs = "12th")
print(info)

{'name': 'john', 'age': 19, 'classs': '12th'}

In [18]:
info2 = dict(name = (input("enter the name  : ")),
age = int(input("enter your age : ")),
course = input("enter your course : "))
print(info2)

ValueError: invalid literal for int() with base 10: ''

In [102]:
#1st method to
print(info ["name"])
print(info2 ["age"])

john
34

In [103]:
#2 nd method to get the value of key 
print(info.get("name"))
print(info2.get("age"))

john
34

In [104]:
# to add items in dictionary
info2['student'] = 'dps'
info2['city'] = 'lucknow'
print(info2)

{'name': 'aaa', 'age': 34, 'course': 'ffg', 'student': 'dps', 'city': 'lucknow'}

In [105]:

print(info2.keys())
print(info2.values())
print(info2.items())

dict_keys(['name', 'age', 'course', 'student', 'city'])
dict_values(['aaa', 34, 'ffg', 'dps', 'lucknow'])
dict_items([('name', 'aaa'), ('age', 34), ('course', 'ffg'), ('student', 'dps'), ('city', 'lucknow')])

In [106]:
for k in info2:
    print(k)

name
age
course
student
city

In [107]:
for k,v in info2.items():
    print(f'{k} : {v}')

name : aaa
age : 34
course : ffg
student : dps
city : lucknow

In [108]:
company = {
    'emp001'  : { 
        'name' :  'john',
        'age' : 25,
        'city' : 'lucknow',
        'salary' : 25000
    },
     'emp002' : { 
        'name': 'sam',
        'age'  : 30,
        'city': 'delhi',
        'salary': 30000
    },
    'emp003': {
        'name' : 'tom',
        'age' : 35,
        'city' : 'mumbai',
        'salary' : 35000
    }
}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'city': 'lucknow', 'salary': 25000}, 'emp002': {'name': 'sam', 'age': 30, 'city': 'delhi', 'salary': 30000}, 'emp003': {'name': 'tom', 'age': 35, 'city': 'mumbai', 'salary': 35000}}

In [109]:
from pprint import pprint

In [110]:
company[ 'emp001'] ['name']

'john'

In [111]:
pprint(company)

{'emp001': {'age': 25, 'city': 'lucknow', 'name': 'john', 'salary': 25000},
 'emp002': {'age': 30, 'city': 'delhi', 'name': 'sam', 'salary': 30000},
 'emp003': {'age': 35, 'city': 'mumbai', 'name': 'tom', 'salary': 35000}}

In [112]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

30.0

In [19]:
print(temp['lucknow'][1])

TypeError: 'set' object is not subscriptable

In [ ]:
num =input("enter the number ")